# When I use the project on my Mac, these files are created. Not sure why but I don't like them
._Home.php
._DatabaseInteraction.php
._DatabaseOperations.php
._FunctionsForAll.php
._OperationsHelperFunctions.php
._QueryBuilderFunctions.php
._AdvancedDatabaseInteraction.php

# This file came along with bootstrap
.nfs.20051025.35ee
